{% extends 'base.html.twig' %}

{% block title %}Edit Event{% endblock %}

{% block body %}
    <h1>Edit Event</h1>

    {{ form_start(form) }}
    <div class="mb-3">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}
    </div>

    <div class="mb-3">
        {{ form_label(form.date) }}
        {{ form_widget(form.date) }}
        {{ form_errors(form.date) }}
    </div>

    <div class="mb-3">
        {{ form_label(form.artist) }}
        {{ form_widget(form.artist) }}
        {{ form_errors(form.artist) }}
    </div>

    <div class="mb-3">
        <button class="btn btn-primary">Update</button>
        <a href="{{ path('app_event_index') }}" class="btn btn-secondary">Back to list</a>
    </div>
    {{ form_end(form) }}

    {{ include('event/delete_form.html.twig') }}
{% endblock %}