{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title">Register</h1>
                </div>
                <div class="card-body">
                    {{ form_start(registrationForm) }}
                    <div class="mb-3">
                        {{ form_label(registrationForm.email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(registrationForm.email) }}
                    </div>

                    <div class="mb-3">
                        {{ form_label(registrationForm.plainPassword.first, 'Password', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(registrationForm.plainPassword.first) }}
                    </div>

                    <div class="mb-3">
                        {{ form_label(registrationForm.plainPassword.second, 'Repeat Password', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(registrationForm.plainPassword.second) }}
                    </div>

                    <button type="submit" class="btn btn-primary w-100">Register</button>
                    {{ form_end(registrationForm) }}
                </div>
                <div class="card-footer text-center">
                    <p class="mb-0">Already have an account? <a href="{{ path('app_login') }}">Log in here</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}